<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jittr.android"
      android:versionCode="0"
      android:versionName=".5">
      <application android:theme="@style/Theme.GameOn"
                 android:icon="@drawable/betsquareredicon" 
                 android:label="@string/app_name"
                 android:description="@string/app_description"
                 android:debuggable="true"
                 android:name=".BetSquaredApplication">
       <!--  <uses-library android:name="com.facebook.android"> </uses-library>  -->
                 
        <activity android:name=".mainForm"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     	<activity 
     	       android:name="com.paypal.android.MEP.PayPalActivity"
	           android:theme="@android:style/Theme.Translucent.NoTitleBar"
	           android:configChanges="keyboardHidden|orientation">
	     </activity>      
        <activity
               android:name=".GameOnManageBankActivity"
               android:label="Manage Bank">
         </activity>
        <activity
               android:name=".GameOnSplashActivity"
               android:label="About Betsquared">
        </activity>
        <activity
               android:name=".GameOnInviteFriendsBetsquareListActivity"
               android:label="Search/Invite Betsquared Users">
        </activity>
       <activity
               android:name=".GameOnApproveDeclineListActivity"
               android:label="Approve/Decline">
       </activity> 
       <activity 
               android:name=".GameOnConfirmRegistration"
               android:label="Confirm Registration">
       </activity> 
       <activity
               android:name=".GameOnInviteFriendsTwitterListActivity"
               android:label="Invite Friends - Twitter">
       </activity> 
       <activity
               android:name=".GameOnInviteFriendsFoursquareListActivity"
               android:label="Invite Friends - Foursquare">
       </activity> 
       <activity
               android:name=".TestTwitterActivity"
               android:label="Test Twitter">
       </activity> 
       <activity
                android:name=".GameOnUserBetActivity"
                android:label="User Bet">
       </activity> 
       <activity
                android:name=".GameOnUserFriendsListActivity"
                android:label="User Friends">
       </activity>
       <activity
                 android:name=".GameOnUserBetsListActivity"
                 android:label="User Bets">
       </activity>
       <activity
                 android:name=".GameOnSignUpActivity"
                 android:label="Sign Up Main">
       </activity> 
       <activity
                 android:name="com.jittr.android.facebook.Example"
                 android:label="Facebook Test">
       </activity> 
       <activity
                 android:name=".GameOnTwitterOAuthActivity"
                 android:label="@string/app_name">
       </activity>
       <activity
                 android:name=".GetBetSquareUserDetailsActivity"
                 android:label="@string/testgetbetsquareduserdetails">
       </activity>
      <activity android:name=".GameOnFoursquareAuthActivity"  
                 android:label="@string/app_name"
                 android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="icecondor-android-app" />
			</intent-filter>
                 
       </activity>
       <activity android:name=".GameOnRegisterEmailActivity"  
                 android:label="@string/app_name">
       </activity>
       <activity android:name=".GetUserDetailsActivity"
                 android:label="@string/testfoursquareuserdetails">
       </activity>
       <activity android:name=".GetNearbyVenuesActivity"
                 android:label="@string/testnearbyvenues">
       </activity>          
       <activity android:name=".GetPublicGamesActivity"
                 android:label="@string/testgetpublicgames">
       </activity> 
       <activity android:name=".GetUserDashBoardActivity"
                 android:label="@string/testgetuserdashboard">
       </activity>
       <activity android:name=".ViewVenueActivity"
                 android:label="@string/testviewvenueactivity">
       </activity> 
       <activity android:name=".GameOnLoginActivity"
                 android:label="@string/loginbuttontext">
       </activity>
        <activity android:name=".GameOnCustomizePublicGameActivity"
                 android:label="@string/app_name">
       </activity>
    </application>
    <uses-sdk android:minSdkVersion="6" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest> 