<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jittr.android"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".mainForm"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
       <activity android:name=".FoursquareOauth"  
                 android:label="@string/app_name">
       </activity>
       <activity android:name=".GetUserDetailsActivity"
                 android:label="@string/testuserdetails">
       </activity>
       <activity android:name=".GetNearbyVenuesActivity"
                 android:label="@string/testnearbyvenues">
       </activity>          
       <activity android:name=".GetPublicGamesActivity"
                 android:label="@string/testgetpublicgames">
       </activity> 
       <activity android:name=".GetUserDashBoardActivity"
                 android:label="@string/testgetuserdashboard">
       </activity>
       <activity android:name=".ViewVenueActivity"
                 android:label="@string/testviewvenueactivity">
       </activity> 

    </application>
    <uses-sdk android:minSdkVersion="6" />
 <uses-permission android:name="android.permission.INTERNET" /> 
</manifest> 